<div class="section-container search-section">
  <div class="search-container">
    <movie-search (search)="search($event)"></movie-search>
  </div>
</div>

@if (videoLists() && videoLists()?.videos?.length ?? 0 > 0) {
<div class="section-container content-section">
  <h2 class="section-heading">Latest Trailers</h2>
  <video-list [list]="videoLists()"></video-list>
</div>
}

<div class="section-container content-section">
  <h2 class="section-heading">Popular Movies</h2>
  <movie-list [list]="movieLists()" [isLoading]="loadingState" (select)="selectMovie($event)">
  </movie-list>
</div>