<div class="px-8 py-8 bg-[#0a0c17]">
  <div class="max-w-lg mx-auto">
    <movie-search (search)="search($event)"></movie-search>
  </div>
</div>

@if (movieLists() && movieLists()?.movies?.length ?? 0 > 0) {
<div class="px-8 py-6 bg-[#0a0c17]">
  <h2 class="text-white text-xl font-medium mb-6">Popular Movies</h2>
  <movie-list [list]="movieLists()" (select)="selectMovie($event)" class="w-full"></movie-list>
</div>
} @else {
<div class="py-12 flex justify-center bg-[#0a0c17]">
  <p class="text-xl text-gray-400">No movies available</p>
</div>
}